<section class="reset-pw">
    <div class="logo flex flex-column ai-center">
        <bee-logo-icon></bee-logo-icon>
        <h1>BeeTask</h1>
    </div>
    <div *ngIf="!result" class="text">
        <h2> {{'reset.resetPassword' | translate}}</h2>
    </div>
    <div class="form">
        <form *ngIf="!result" [formGroup]="form" class="flex flex-column">
            <mat-form-field appearance="outline">
                <mat-label>{{'reset.newPassword' | translate}}</mat-label>
                <input matInput formControlName="password" type="password" autocomplete="new-password" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{'reset.repeatNewPassword' | translate}}</mat-label>
                <input matInput formControlName="passwordRepeated" type="password" autocomplete="new-password" required>
            </mat-form-field>
            <button (click)="resetPassword()" class="btn-primary">{{'reset.setNewPassword' | translate}}</button>
        </form>
        <p *ngIf="result === 'ok'" class="message">{{'reset.passwordChanged' | translate}}</p>
        <p *ngIf="result === 'error'" class="message">{{'reset.unexpectedError' | translate}}</p>
        <p><a routerLink="/login">{{'reset.backLogin' | translate}}</a></p>
    </div>
</section>