<section class="reset-pw">
    <div class="logo flex flex-column ai-center">
        <bee-logo-icon></bee-logo-icon>
        <h1>BeeTask</h1>
    </div>
    <div *ngIf="!result" class="text">
        <h2> {{'reset.forgotPassword' | translate}}</h2>
        <p>{{'reset.enterValidEmail' | translate}} </p>
    </div>
    <div class="form">
        <form *ngIf="!result" [formGroup]="form" class="flex flex-column ">
            <mat-form-field appearance="outline">
                <mat-label>{{'reset.email' | translate}}</mat-label>
                <input matInput formControlName="email" type="email" autocomplete="email" required>
            </mat-form-field>
            <button (click)="resetPassword()" class="btn-primary">{{'reset.sendInstruction' | translate}}</button>
        </form>
        <p *ngIf="result === 'ok'" class="message">{{'reset.emailSended' | translate}}</p>
        <p *ngIf="result === 'error'" class="message">{{'reset.unexpectedError' | translate}}</p>
        <p><a routerLink="/login">{{'reset.backLogin' | translate}}</a></p>
    </div>
</section>