<div class= "notifications_active">
        <nav class="notifications-menu">
            <h1>Notificaciones</h1>
            <div>
                <label datachecked = "true" >
                    <span> Mostrar mensajes no leídos</span>
                    <input class="checkNotification" type="checkbox" value checked/>

                </label>
            </div>
        </nav>
        <div class = "content">
            <app-content-notification></app-content-notification>

        </div>

</div>